  <div class="navbar-fixed">
    <app-loading></app-loading>
    <nav>
      <!-- <button (click)="togle()">menu</button> -->
      <!-- <app-menu #menu>
        </app-menu> -->
      <div class="nav-wrapper container">
        <a [routerLink]="['']" class="brand-logo">°0°</a>
        <div *ngIf="(user$ | async ) as user; else login" class="right">
          <i class="fa fa-user-o mh-xxs"></i>
          <span class="mh-xxs">{{ user?.name}}</span>
          <a (click)="logout()">(logout)</a>
        </div>

        <ng-template #login>
          <span class="right flow-text"><a [routerLink]="['']">Please, login!</a></span>
        </ng-template>
      </div>
    </nav>
    <div class="fixed-top">
       <app-alert></app-alert>
    </div>
  </div>
        