<p class="center flow-text" *ngIf="!photos.length">
  Sorry, no photos!!!
</p>
<div class="container">
  <div *ngFor="let row of rows" class="row">
    <div *ngFor="let p of row" class="col s4">
      <div class="card" appDarkenOnHover brightness="80%">
        <app-card [title]="p.description">
          <div image>
            <app-photo [url]="p.url" [description]="p.description"></app-photo>
          </div>
          <div action>
            <i class="fa fa-heart-o fa-1x m-xxs"></i>{{ p.likes }}
            <i class="fa fa-comments-o fa-1x m-xxs"></i>{{ p.comments }}
          </div>
        </app-card>

      </div>
    </div>
  </div>